* {
  box-sizing: border-box;
}

h2 {
  text-align: center
}

table {
  margin: auto;
}

td {
  width: 20px;
  height: 20px;
}

.not-alive {
  background-color: gray
}

.alive {
  background-color: green
}